.botaoVoltar {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .imagemVoltar {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
  