
@media only screen and (min-width: 100px) {
    .input_email, .input_senha {
        padding: 20px;
        max-width: 600px;
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        color: white;
        font-weight: 700;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        display: inline-flex;
        max-width: 600px;
    }
    
    .input_senha::placeholder,.input_email::placeholder  { 
        color: white;
    }
    
    .botão_login {
        width: 100%;
        display: inline-block;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        border: none;
        display: inline-block;
        font-size: 25px;
        font-weight: 700;
        background: linear-gradient(to right, #6C8BE6, #CB6CE6);
        color: white;
        max-width: 650px;
    }
    
    .botão_login:hover {
        background-color: pink;
    }
    
    .div_login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .logo_abracepets {
        width: 200px;
    }
    
    .div_lado_a_lado {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .icone_voltar {
        width: 25px;
        text-align: start;
        text-decoration: none;
        display: inline-flex;
        color: white;
        font-size: 25px;
        font-weight: 700;
    }
    
    .div_icone {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
    }
    
    .label_login_abracepets {
        font-size: 25px;
        font-weight: 800;
        margin-top: 15px;
    }
    
    .dog_and_cat_login {
        width: 100%;
        object-fit: cover;
        height: 100vh;
    }
    
    .div_login_pet{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 60px;
        
    }
    
    .button {
        display: inline-block;
        margin: 4px;
        margin-top: 30px;
        text-decoration: none;
        font-size: 20px;
    }
    
    .button_cadastra {
        color: #6C8BE6;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
    }
    }
    
    @media only screen and (max-width: 1200px) {
        .div_login {
            flex-direction: column;
        }
    
        .div_lado_a_lado {
            width: 100%;
        }
    
        .dog_and_cat_login {
            width: 100%;
            object-fit: cover;
            height: 100vh;
        }
    
        .icone_voltar {
            width: 25px;
            text-align: start;
            text-decoration: none;
            display: inline-flex;
            color: white;
            font-size: 18px;
        }    
    
        .botão_login {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            font-size: 18px;
            font-weight: 700;
            background: linear-gradient(to right, #6C8BE6, #CB6CE6);
            color: white;
        }
    
        .button_cadastra {
            font-size: 17px;
        }
    
        .div_login_pet {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px;
            width: 50%;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }
    
        .div_login_pet:hover {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
         }
    
        .logo_abracepets {
            width: 150px;
        }
        
        .input_senha, .input_email  {
            padding: 10px;
            background: none;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            color: white;
            font-weight: 700;
            margin-top: 20px; 
            font-size: 14px;
        }
    }